<div class="columns">
  <div class="column">
    <ul>
      <li>
        <%= link_to 'Users', admin_users_path %>
      </li>
      <li>
        <%= link_to 'Courses', admin_courses_path %>
      </li>
    </ul>
  </div>
</div>
