<div class="columns">
  <div class="column">
    <%= link_to "Upload A Video", new_video_path %>
  </div>
</div>

<div class="columns">
  <% @videos.each do |video| %>
    <div class="column">
      <p><%= video.title %></p>
      
    </div>
  <% end %>
</div>



