<div class="columns">
  <div class="column">
    <%= link_to "Upload A Video", '/users/manage_videos' %>
  </div>
</div>

<div class="columns">
  <% @videos.each do |video| %>
    <div class="column">
      <%= link_to video_path(video) do %>
        <%= image_tag video.thumbnail_url %>
      <% end %>
    </div>
  <% end %>
</div>



