<div class="columns">
  <div class="column">
    <%= link_to "Upload A Video", new_video_path %>
  </div>
</div>

<div class="columns is-multiline">
  <% @videos.each do |video| %>
    <div class="column is-3">
      <p><%= video.title %></p>
      <%= link_to video_path(video) do %>
        <%= image_tag video.thumbnail_url %>
      <% end %>
    </div>
  <% end %>
</div>



