<div class="columns">
  <div class="column">
    <%= link_to "Upload A Video", new_video_path %>
  </div>
</div>

<div class="columns">
  <% @videos.each do |video| %>
    <div class="column">
      <%= link_to "https://vimeo.com/#{video.vimeo_id}" do %>
        <%= image_tag video.thumbnail_url %>
      <% end %>
    </div>
  <% end %>
</div>



