<script src="//fast.wistia.com/assets/external/api.js" async></script>
<link rel="stylesheet" href="//fast.wistia.com/assets/external/uploader.css" />


<div class="coulmns">
  <div class="column">
    <% if session[:vimeo_id] && session[:vimeo_token] %>
      <%= render 'manage_videos' %>
    <% else %>
      <%= link_to 'Connect Vimeo', '/auth/vimeo' %>
    <% end %>
  </div>
</div>




