<%= form_for @section do |f| %>
  <div class="field has-addons">
    <div class="control">
      <span class="button"><%= "Section #{@section.position} - " %></span>
    </div>
    <div class="control">
      <%= f.text_field :title, class: "input", placeholder: "Optional Section Title"  %>
    </div>
  </div>
  <div class="field">
    <%= f.submit "Edit", class: "button is-primary" %>
  </div>
<% end %>