<div class="columns">
  <div class="column is-6-desktop">
    <%= form_for [@course, @section] do |f| %>
      <div class="field">
        <%= f.label :title, class: "label" %>
        <div class="control">
          <%= f.text_field :title, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.submit "Add", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>