<% provide(:title, "About") %>
<div class="columns">
  <div class="column is-6-desktop">
    <h4 class="title is-4">About Browzable</h4>
    <p>
      Browzable is a new kind of course platform. Instead of buying courses, or paying a subscription, users buy minutes they can spend watching any lesson on the site. Creators then get paid 70% of the minutes spent on their courses.
    </p>
    <br>
    <h4 class="title is-4">Eli Block</h4>
    <figure class="about-picture">
      <%= image_tag User.find_by(facebook_id: '1041670272').image %>
    </figure>
    <br>
    <p>
      I'm building Browzable because it's my passion to improve digital markets. 
    </p>
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/eliblock/" %> | 
    <%= link_to "Facebook", "https://www.facebook.com/eli.block.7" %> | 
    <%= link_to "Website", "http://eliblock.io" %> 
  </div>
</div>

