<div class="content">
  <h1>End User License Agreement</h1>

  <p>BY DOWNLOADING AND/OR USING ANY SOFTWARE AND/OR APPLICATIONS (COLLECTIVELY, "SOFTWARE") PROVIDED TO YOU BY OR ON BEHALF OF BROWZABLE AND ITS AFFILIATED ENTITIES ("BROWZABLE") IN CONNECTION WITH YOUR USE OF THE BROWZABLE SERVICE, YOU ACKNOWLEDGE AND AGREE THAT (1) YOU HAVE READ THIS END USER LICENSE AGREEMENT ("LICENSE AGREEMENT"); (2) YOU UNDERSTAND IT; (3) YOU ARE BOUND BY THE TERMS OF THIS LICENSE AGREEMENT; AND (4) YOU MAY RECEIVE, WITHOUT FURTHER NOTICE OR PROMPTING, UPDATED VERSIONS OF THE SOFTWARE. IF YOU DO NOT AGREE TO THE FOREGOING, YOU AGREE THAT YOU DO NOT HAVE A LICENSE TO, AND YOU WILL NOT USE, THE SOFTWARE.</p>
  <ol>
    <li>
      <p><strong>General</strong></p>
    
      <p>This License Agreement contains details on your limited right and license to use the Software solely in connection with your use of the Browzable service. This License Agreement is between you and Browzable and not any other party.</p>

      <p>The Software contains material that is protected by copyright and other applicable intellectual property laws in the U.S. and other territories and by international treaty provisions. The Software is licensed, not sold or given, to you by Browzable for use only under the terms of this License Agreement and all rights not specifically granted to you herein are reserved to Browzable and to any third party with ownership rights in software and documentation used in the Software. You may not remove any proprietary notice of Browzable or any other party from any copy of the Software or documentation.</p>

      <p>The rights granted under the terms of this License Agreement include any software upgrades that replace and/or supplement the original Software.</p>

      <p>Browzable reserves the right, from time to time, with or without notice to you, to change the terms of this License Agreement in our sole and absolute discretion. The most current version of this License Agreement will supersede all previous versions. Your use of the Software after changes are made means that you agree to be bound by such changes. As such, you should review the License Agreement periodically.</p><br>
    </li>
    <li>
      <p><strong>Permitted Use/restrictions</strong></p>


      <p>Grant of Limited License. Browzable grants you a non-exclusive, limited, personal and nontransferable license, subject to and conditioned on your compliance with the restrictions set forth in this License Agreement, to install and use the Software, in object code form only, provided to you by or on behalf of Browzable in connection with your use of the Browzable service.</p>

      <p>The Software is only for your own personal, non-commercial use and not for use in the operation of a business or service bureau, for profit or for the benefit or any other person or entity.</p>

      <p> No ownership rights. You have no ownership rights in any Software. Rather, you have a limited license to use the Software as long as this License Agreement remains in effect. Ownership of the Software and all intellectual property rights therein shall remain at all times with Browzable and/or its licensors. Any other use of the Software by any other person, business, corporation, government or any other entity is strictly prohibited and is a violation of this License Agreement.</p><br>
    </li>

    <li>
      <p>
        <strong>Third Pary Content/Third Party Software</strong>
      </p>
      <p>
        Content. Title and intellectual property rights in and to any content displayed by or accessed through the Software belongs to the respective content owner. Such content is protected by copyright or other intellectual property laws and treaties, and is subject to terms of use of the third party providing such content. Apart from your right to view the third-party content, this License Agreement does not grant you the right to copy, distribute, prepare derivative works, publicly display, or make other use of such content. You are prohibited from engaging in or facilitating the unauthorized P2P file-sharing of third-party content, such as the unauthorized posting, making available, uploading, downloading or other distribution of such third-party content.
      </p><br>
    </li>

    <li>
      <p><strong>Upgrading the Software</strong></p>

      <p>Browzable may issue you an upgraded version of the Software automatically upon an instance of your use of the Software or the Browzable service or otherwise in connection with your use of the Browzable ready device. Alternatively, Browzable may require you to consent to an upgrade to the Software ("Software Upgrades") before using, installing or accessing the Software. If you decline the Software Upgrades, you may not be able to use or access the Software or the Browzable service.</p><br>
    </li>

    <li>
      <p><strong>Consent to Use of Data</strong></p>

      <p>The Software may provide Browzable with limited access to your device. Among other things, the Software may provide Browzable with information related to your use of the Browzable service, including movies &amps; TV Shows (and portions thereof ) viewed, amount of time viewed, information regarding your computer system, such as a unique device identifier, your operating system, existing software, amount of available storage space and internet connectivity, and your interaction with the Software. This information will, among other things, enable Browzable to manage rights associated with the content, allow Browzable to help you use the Software more effectively, enforce Browzable Terms of Use and otherwise help Browzable to enhance and improve the Software and the Browzable service. Information obtained by Browzable will be treated in accordance with our Privacy Policy.</p><br>
    </li>

    <li>
      <p><strong>Export Law Assurances</strong></p>

      <p>You may not use or otherwise export or re-export the Software except as authorized by United States law and the laws of the jurisdiction in which the Software was legally obtained or authorized by Browzable. In particular, but without limitation, the Software may not be exported or re-exported (a) into (or to a national or resident of) any U.S. embargoed countries or (b) to anyone on the U.S. Treasury Department's list of Specially Designated Nationals or the U.S. Department of Commerce Denied Person's List or Entity List. By using the Software, you represent and warrant that you are not located in any such country or on any such list.</p><br>
    </li>

    <li>
      <p><strong>Termination</strong></p>

      <p>This License Agreement is effective until terminated. Your rights under this License Agreement are terminable by Browzable at any time without notice. Further, this License Agreement will terminate if Browzable finds that you have violated any of the terms of this License Agreement. No waiver of any breach of any provision of this License Agreement by Browzable shall constitute a waiver of any prior, concurrent or subsequent breach of the same or any other provisions hereof, and no waiver shall be effective unless it is made in writing and is signed by an authorized representative of Browzable. All provisions relating to confidentiality, proprietary rights, and nondisclosure shall survive the termination of this License Agreement.</p>

      <p>Your ability to use the Browzable service is subject to your system compatibility with our Software as such requirements may change from time to time. Compatibility of system requirements with the Software is your responsibility.</p>

      <p>Upon the termination of this License Agreement, you shall cease all use of the Software and Browzable service and destroy all copies, full or partial, of the Software that you may have downloaded hereunder.</p><br>
    </li>

    <li>
      <p><strong>Disclaimer of Warranties and Limitations on Liability</strong></p>
      <p class="disclaimer">The Software is provided "AS IS." The Disclaimers of Warranties and Limitations of Liability set forth in the Terms of Use expressly apply to this License Agreement, the Software and the use of the Software. We do not warrant that defects in the Software will be corrected.</p><br>
    </li>

    <li>
      <p><strong>Notices</strong></p>

      <p>© 2017 Browzable, All content herein is protected by copyright and other applicable intellectual property laws in the U.S. and other territories and may not be modified, copied or used in any manner without the express permission of Browzable, which reserves all rights. Reuse of any of this content for any purpose without the permission of Browzable is strictly prohibited.</p>
      
      <p>
        You agree and acknowledge that Facebook has no responsibility or liability for the Software and its content.
      </p>
    </li>
  </ol>
</div>




