<div class="content">
  <h1>Getting Paid</h1>
  <p>70% of all revenue from your videos goes right to you. At the end of the month, if you have accrued more than $20 in earnings you will receive a Paypal transfer from us at the email you have on file. If your facebook email address is different than your Paypal address you will need to add your Paypal email address to receive funds.</p>
</div>