<div class="content">

  <h4>Introduction</h4>
  <p>
    This is an informal agreement between Browzable LLC and anyone who submits content to browzable.com. For details not specified, please assume common business practices of similar services. 
  </p>
  <h4>Overview</h4>
  
  <p>
    Browzable LLC is a marketplace for recorded video courses. Instructors can post courses to be made available to users of the platform. Browzable users prepay for Browzable minutes which are credits that can be applied to any video content on the site. Minutes spent watching course video are paid back to instructors after Browzable’s commission. 
  </p>

  <h4>How it works</h4>

  <p>
    By posting content to the site (browzable.com), instructors agree that any browzable.com user can view the content by spending Browzable minutes. Instructors can remove their courses from the site at any time and the content will immediately be made unavailable. On the 31st of every month, Browzable will pay instructors by Paypal for their accrued minutes, after taking a percentage commission. 
  </p>

  <h4>Content Protection</h4>

  <p>
    Content uploaders maintain all rights. Browzable will not share uploaded content with any other parties except for the purpose of providing streaming service on browzable.com. Users may only stream video on browzable.com and may not download content for viewing later.
  </p>

  <h4>Summary</h4>

  <ul>
    <li> Instructor grants non-exclusive license to Browzable to display content to paying users on Browzable.com. </li>
    <li> Instructor can remove content at any time. </li>
    <li> Browzable will charge users viewing course content the agreed upon rate per minute. </li>
    <li> Browzable will payout to instructors the earnings from their courses after the agreed upon commission percentage. </li>
    <li> Payments will be made monthly to instructor’s PayPal account using provided email. </li>
  </ul>
</div>
