<div id="legal-doc" class="legal-doc content">

  <h1>Payment Addendum</h1>
  <p>Last Updated: June 2017</p>

  <p>
  This Payment Addendum is a part of Browzable’s <a href="/terms">Terms of Service</a> and covers payments that you make to Browzable and payments that Browzable may make to you.
  </p>

  <ol class="styled">
    <li>
      <em>Payments made by you.</em> You may make payments to Browzable for viewing credits. All payments are final and non-refundable. Notwithstanding the foregoing, Browzable may, in its sole discretion, make refunds if it determines that the circumstances warrant a refund.
    </li>
    <li>
      <em>Payments made to you.</em> Browzable will pay you Creator Revenue (as defined below) within thirty (30) days of the end of each month in which such revenue was earned. Browzable will make all payments to your PayPal account or other payment method offered by Browzable. Browzable may withhold amounts or make adjustments: (a) pending any investigation of fraud or other illegality; and (b) as required by US tax law.
    </li>
    <li>
      <em>Watching videos.</em> This Section covers purchases by you of viewing minutes.
      <ol class="nested-list">
        <li>
          <em>Viewing credits.</em> A Browzable purchase entitles you to 200 minutes of viewing time per dollar.
          You may view any video on Browzable while your minutes last. You may not intefere with Browzable's collection of information used to determine the minutes of video you have watched. 
        </li>
        <li>
          <em>Limited license.</em> After buying minutes, you have the right to stream all videos on Browzable.com for the duration of your balance.
        </li>
        <li>
          <em>Restrictions.</em> You may only stream videos for your personal viewing purposes. You may not: (i) transmit or distribute any video through any means; (ii) publicly exhibit any video; or (iii) resell views of any video; or (iv) allow others to log into your Browzable account for the purpose of watching a video.
        </li>
        <li>
          <em>Video availability.</em> Videos are provided on an as-available basis. Browzable does not guarantee that any particular video will be available for streaming after purchase. A creator may cease to make a video available or a video may become unavailable for legal reasons.
        </li>
        <li>
          <em>Expiration.</em> Minutes expire one year from date of purchase. Minutes expire on a first in first out basis. 
        </li>
      </ol>
    </li>
    <li>
      <em>Licensing videos.</em> This Section covers videos that you license to Browzable.
      <ol class="nested-list">
        <li>
          <em>Eligibility.</em> In order to license a video or video series to Browzable you must maintain both a Facebok account and a Browzable account.
        </li>
        <li>
          <em>Limited license.</em> You hereby grant Browzable the right and license to reproduce, distribute, transmit, sublicense (to end users for their personal viewing), and transcode, the video on Browzable. You also grant Browzable the right (but not the obligation) to use and authorize others to use your name(s), likeness(es), biographical material(s), or voice(s), as contained in the materials you upload, in any media for the purpose of promoting your videos or series.
        </li>
        <li>
          <em>License period; removed videos.</em> The above licenses will continue so long as you offer a video. If you remove a video, Browzable will cease making the video available on the site.
        </li>
        <li>
          <em>Creator Revenue; Browzable service fee.</em>You are entitled to 70% of the revenue Browzable earns from displaying your videos. Browzable. will keep the remaining 30% as a platform fee.
        </li>
      </ol>
    </li>
    <li>
      <em>Taxes.</em>
      <ol>
        <li>Income taxes are solely your responsibility. Browzable may withhold amounts from any amounts due to you that Browzable determines in good faith must be withheld pursuant to US tax law. Browzable may file reports concerning income with any taxing authority, including the US Internal Revenue Service.</li>
        <li>Browzable may collect taxes (e.g., sales tax or VAT) on any transaction where it reasonably believes that tax collection is required. Where Browzable believes in good faith that VAT collection is required, Browzable may collect VAT on a “VAT-inclusive” basis, meaning that it will charge the retail price of the video and deduct applicable VAT from the amounts received from the purchaser.</li>
      </ol>
    </li>
    <li>
      <em>Violations.</em> Browzable shall have no obligation to pay Creator Revenue with respect to any content or conduct that violates Browzable’s Terms of Service, including this Payment Addendum, and you must repay to Browzable any amounts you have received with respect to any such violation. Browzable may, in its discretion, suspend, limit, or disable any user’s ability to upload videos at any time.
    </li>
    <li>
      <em>General.</em> You agree and acknowledge that you and Browzable are independent contractors and not partners, joint venturers, or fiduciaries of one another. If you have a negotiated agreement with Browzable concerning your use of Browzable, the negotiated agreement governs and supersedes any inconsistent term in this Payment Addendum.
    </li>
  </ol>
</div>