<div id="legal_doc" class="legal_doc content">
  <h1>Terms of Service</h1>

  <p>Last Updated: June 16, 2017</p>

  <p>**PLEASE READ THIS DOCUMENT CAREFULLY. Browzable, LLC. ("Browzable," "we," or "us") offers an online video platform through its website located at <a href="/">Browzable.com</a>. By registering as a member or by using the Browzable Service in any way, you accept these Terms of Service ("Agreement"), which forms a binding agreement between you and Browzable. If you do not wish to be bound by this Agreement, do not use the Browzable Service. **</p>

  <h2>Content</h2>

  <ol>
    <li><a href="#who_may_use">Who May Use the Browzable Service</a></li>
    <li><a href="#license_to_use">License to Use the Browzable Service</a></li>
    <li><a href="#privacy">Privacy</a></li>
    <li><a href="#membership">Membership</a></li>
    <li><a href="#subscriptions">Subscriptions and Purchases</a></li>
    <li><a href="#termination">Term and Termination; Account Deletion</a></li>
    <li><a href="#content_restrictions">Content Restrictions</a></li>
    <li><a href="#license">Licenses Granted by You</a></li>
    <li><a href="#representations">Your Representations and Warranties</a></li>
    <li><a href="#indemnification">Indemnification</a></li>
    <li><a href="#third_party">Third Party Copyrights and Other Rights</a></li>
    <li><a href="#disclaimers">Disclaimers</a></li>
    <li><a href="#limitation_liability">Limitation of Liability</a></li>
    <li><a href="#compliance_notice">Compliance Notice Pursuant to 18 U.S.C. ยง 2257</a></li>
    <li><a href="#general_provisions">General Provisions</a></li>
  </ol>

  <h2><a name="who_may_use"></a> 1. Who May Use the Browzable Service</h2>

  <p><strong>AGE REQUIREMENT:</strong> You must be at least 13 years old to use the Browzable Service. If you are at least 13, but are still a minor (this depends on where you live), you must have your parent or legal guardian's permission to use the Browzable Service. Please have him or her read this Agreement with you.</p>

  <p><strong>NOTICE TO PARENTS AND GUARDIANS:</strong> By granting your child permission to use the Browzable Service, you agree to the terms of this Agreement on behalf of your child. You are responsible for monitoring and supervising your child's use of the Browzable Service. If your child is using the Browzable Service and is either under 13 or does not have your permission, please contact us immediately so that we can disable his or her access. If you have questions about whether the Browzable Service is appropriate for your child, please review our <a href="/help/faq">Frequently Asked Questions</a> or <a href="/help/contact">contact us</a>.</p>

  <p><strong>WARNING:</strong> Even if you are old enough to use the Browzable Service and/or have your parent's or guardian's permission, some of the content available within the Browzable Service may not be appropriate for you. Some content may contain "R-rated" material, nudity, profanity, and mature subject matter. If you are under 18, do not view such content.</p>

  <h2><a name="license_to_use"></a> 2. License to Use the Browzable Service</h2>

  <p><strong>LICENSE:</strong> Browzable grants you a limited, non-exclusive license to access and use the Browzable Service for your own personal, non-commercial purposes. This includes the right to view content available on the Browzable Service. This license is personal to you and may not be assigned or sublicensed to anyone else.</p>

  <p><strong>COMMERCIAL USE:</strong> You may not use the Browzable Service for commercial purposes except as a video creator or owner.</p>

  <p><strong>RESTRICTIONS:</strong> Except as expressly permitted by Browzable in writing, you will not scrape, reproduce, redistribute, sell, create derivative works from, decompile, reverse engineer, or disassemble the Browzable Service or any source code therein. Nor will you attempt to circumvent any of Browzable's technical measures or take any measures to interfere with or damage the Browzable Service. All rights not expressly granted by Browzable are reserved.</p>

  <h2><a name="privacy"></a> 3. Privacy</h2>

  <p>Your privacy rights are set forth in our <a href="/privacy">Privacy Policy</a>, which forms a part of this Agreement. Please review the Privacy Policy to learn about:</p>

  <ul>
  <li>What information we may collect about you;</li>
  <li>What we use that information for; and</li>
  <li>With whom we share that information.</li>
  </ul>

  <h2><a name="membership"></a> 4. Membership</h2>

  <p><strong>REGISTRATION:</strong> To fully use the Browzable Service, you must register as a member by authenticating with your Facebook.com acccount. Your Facebook account must be in compliance with Facebooks policies. Browzable will receive your name, email address, and facebook ID along with the rest of your public profile. If you are a business, government, or non-profit entity, the person whose email address is associated with the account must have the authority to bind the entity to this Agreement.</p>

  <p><strong>ACCOUNT SECURITY:</strong> You are responsible for all activity that occurs under your account, including any activity by authorized or unauthorized users. You must not allow others to use your account credentials and you must safeguard the confidentiality of those credentials. If you are using a computer that others have access to, you must log out of your account after using the Browzable Service. If you become aware of an unauthorized access to your account, you must change your password and <a href="/help/contact">notify us immediately</a>.</p>

  <h2><a name="subscriptions"></a> 5. Purchases</h2>

<!--   <p><strong>CANCELATION AND REFUNDS:</strong> Users have thirty (30) days after purchase to cancel and receive a full refund. After the cancelation period ends, all purchases are final and all fees paid are non-refundable, even if your account is later terminated by Browzable. If your account is terminated due to your breach of this Agreement during the relevant cancelation period, you will not be refunded. If you have questions, please <a href="/help/contact">contact us</a>.</p> -->

  <p><strong>PURCHASES:</strong> are subject to our <strong><a href="/paymentaddendum">Payment Addendum</a></strong> and to other terms and conditions that are presented to you at the time of purchase.</p>

  <h2><a name="termination"></a> 6. Term and Termination; Account Deletion</h2>

  <p><strong>TERM:</strong> This Agreement begins on the date you first use the Browzable Service and continues as long as you have an account with us.</p>

  <p><strong>ACCOUNT DELETION:</strong> You may delete your account at any time.</p>

  <p><strong>TERMINATION FOR BREACH:</strong> Browzable may suspend, disable, or delete your account (or any part thereof) or block or remove any content you submitted if Browzable determines that you have violated any provision of this Agreement or that your conduct or content would tend to damage Browzable's reputation and goodwill. If Browzable deletes your account for the foregoing reasons, you may not re-register for the Browzable Service. Browzable may block your email address and Internet protocol address to prevent further registration.</p>

  <p><strong>EFFECT OF TERMINATION/ACCOUNT DELETION:</strong> Upon termination, all licenses granted by Browzable will terminate. Sections 6 and 10 through 15 shall survive termination. In the event of account deletion for any reason, content that you submitted may no longer be available. Browzable shall not be responsible for the loss of such content.</p>

  <h2><a name="content_restrictions"></a> 7. Content Restrictions</h2>

  <p>You may not upload, post, or transmit (collectively, "submit") any video, image, text, audio recording, or other work (collectively, "content") that:</p>

  <ul>
  <li>Infringes any third party's copyrights or other rights (e.g., trademark, privacy rights, etc.);</li>
  <li>Contains sexually explicit content or pornography (provided, however, that non-sexual nudity is permitted);</li>
  <li>Contains hateful, defamatory, or discriminatory content or incites hatred against any individual or group;</li>
  <li>Exploits minors;</li>
  <li>Depicts unlawful acts or extreme violence;</li>
  <li>Depicts animal cruelty or extreme violence towards animals;</li>
  <li>Promotes fraudulent or dubious business schemes; or</li>
  <li>Violates any law.</li>
  </ul>

  <h2><a name="license"></a> 8. Licenses Granted by You</h2>
  
  <p><strong>LICENSE TO Browzable:</strong> As between you and Browzable, you own the video content ("videos") that you submit to the Browzable Service. By submitting a video, you grant Browzable a limited, worldwide, non-exclusive, royalty-free license and right to copy, transmit, distribute, and make derivative works from your video for the purpose of (i) displaying the video within the Browzable Service; (ii), allowing other users to play the video; and (iii) archiving or preserving the video for disputes, legal proceedings, or investigations.</p>

  <p><strong>LICENSE TO OTHER USERS:</strong> You further grant all users of the Browzable Service permission to view your videos for their personal, non-commercial purposes. This includes the right to copy and make derivative works from the videos solely to the extent necessary to view the videos. The foregoing licenses are in addition to any license you may decide to grant (e.g., a Creative Commons license).</p>

  <p><strong>DURATION OF LICENSES:</strong> The above licenses will continue unless and until you remove your videos from the Browzable Service, in which case the licenses will terminate within a commercially reasonable period of time. Notwithstanding the foregoing, the license for legal archival/preservation purposes will continue indefinitely. Please note that removed videos may be cached in search engine indices after removal and that Browzable has no control over such caching.</p>

  <h2><a name="representations"></a> 9. Your Representations and Warranties</h2>

  <p>For each piece of content that you submit, you represent and warrant that: (i) you have the right to submit the content to Browzable and grant the licenses set forth above; (ii) Browzable will not need to obtain licenses from any third party or pay royalties to any third party; (iii) the content does not infringe any third party's rights, including intellectual property rights and privacy rights; and (iv) the content complies with this Agreement and all applicable laws.</p>

  <h2><a name="indemnification"></a> 10. Indemnification</h2>

  <p>You will indemnify, defend, and hold harmless Browzable and its affiliates, directors, officers, employees, and agents, from and against all third party actions that: (i) arise from your activities on the Browzable Service; (ii) assert a violation by you of any term of this Agreement; or (iii) assert that any content you submitted to Browzable violates any law or infringes any third party right, including any intellectual property or privacy right.</p>

  <h2><a name="third_party"></a> 11. Third Party Copyrights and Other Rights</h2>

  <p>Browzable respects the intellectual property rights of others. If you believe that your copyright has been infringed, please send us a notice as set forth in our <a href="/dmca">Copyright and DMCA Policy</a>, which is incorporated into this Agreement. For other intellectual property claims, please send us a notice at legal[at]Browzable[dot]com.</p>

  <h2><a name="disclaimers"></a> 12. Disclaimers</h2>

  <p>Browzable reserves the right to modify the Browzable Service. You are responsible for providing your own access (e.g., computer, mobile device, Internet connection, etc.) to the Browzable Service. Browzable has no obligation to screen or monitor any content and does not guarantee that any content available on the Browzable Service complies with this Agreement or is suitable for all users.</p>

  <p>Browzable provides the Browzable Service on an "as is" and "as available" basis. You therefore use the Browzable Service at your own risk. Browzable expressly disclaims any and all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing, Browzable makes no representations or warranties:</p>

  <ul>
  <li>That the Browzable Service will be permitted in your jurisdiction;</li>
  <li>That the Browzable Service will be uninterrupted or error-free;</li>
  <li>Concerning any content submitted by any member;</li>
  <li>Concerning any third party's use of content that you submit;</li>
  <li>That any content you submit will be made available on the Browzable Service or will be stored by Browzable;</li>
  <li>That the Browzable Service will meet your business or professional needs;</li>
  <li>That Browzable will continue to support any particular feature of the Browzable Service; or</li>
  <li>Concerning sites and resources outside of the Browzable Service, even if linked to from the Browzable Service.</li>
  </ul>

  <p>To the extent any disclaimer or limitation of liability does not apply, all applicable express, implied, and statutory warranties will be limited in duration to a period of thirty (30) days after the date on which you first used the Browzable Service, and no warranties shall apply after such period.</p>

  <h2><a name="limitation_liability"></a> 13. Limitation of Liability</h2>

  <p><strong>To the fullest extent permitted by law: (i) Browzable shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses; and (ii) Browzable's total liability to you shall not exceed the amounts paid by you to Browzable over the twelve (12) months preceding your claim(s).</strong></p>

  <h2><a name="compliance_notice"></a> 14. Compliance Notice Pursuant to 18 U.S.C. ยง 2257</h2>

  <p>All pictures, graphics, videos, and other visual media displayed on the Browzable Service are exempt from 18 U.S.C. ยง 2257 and 28 C.F.R. 75 because they do not consist of depictions of conduct as specifically listed in 18 U.S.C. ยง 2256 (2) (A) - (D), but are merely, at most, depictions of non-sexually explicit nudity, or are depictions of simulated sexual conduct, or are otherwise exempt because the visual depictions were created prior to July 3, 1995. Browzable is not the primary producer of the visual content contained in the Browzable Service.</p>

  <h2><a name="general_provisions"></a> 15. General Provisions</h2>

  <p><strong>GOVERNING LAW:</strong> This Agreement shall be governed by the laws of the State of Delaware, United States of America, without regard to principles of conflicts of law. The Uniform Commercial Code, the Uniform Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale of Goods shall not apply.</p>

  <p><strong>DISPUTES:</strong> Any action arising out of or relating to this Agreement or your use of the Browzable Service must be commenced in the state or federal courts located in Delaware County, Delaware, United States of America (and you consent to the jurisdiction of those courts). In any such action, Browzable and you irrevocably waive any right to a trial by jury.</p>

  <p><strong>INTERPRETATION; SEVERABILITY; WAIVER; REMEDIES:</strong> Headings are for convenience only and shall not be used to construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by Browzable in exercising any right hereunder will waive any further exercise of that right. Browzable's rights and remedies hereunder are cumulative and not exclusive.</p>

  <p><strong>SUCCESSORS; ASSIGNMENT; NO THIRD PARTY BENEFICIARIES:</strong> This Agreement is binding upon and shall inure to the benefit of both parties and their respective successors, heirs, executors, administrators, personal representatives, and permitted assigns. You may not assign this Agreement without Browzable's prior written consent. No third party shall have any rights hereunder.</p>

  <p><strong>NOTICES:</strong> You consent to receive all communications including notices, agreements, disclosures, or other information from Browzable electronically. Browzable may provide all such communications by email or by posting them on the Browzable Service. For support-related inquiries, you may <a href="/help/contact">contact us</a>. You may send notices of a legal nature to Browzable at legal[at]Browzable[dot]com</p>

  <p>Nothing herein shall limit Browzable's right to object to subpoenas, claims, or other demands.</p>

  <p><strong>MODIFICATION:</strong> This Agreement may not be modified except by a revised Terms of Service posted by Browzable on the Browzable Site or a written amendment signed by an authorized representative of Browzable. A revised Terms of Service will be effective as of the date it is posted on the Browzable Site.</p>

  <p><strong>ENTIRE AGREEMENT:</strong> This Agreement incorporates the following documents by reference:</p>

  <ul>
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/cookie_policy">Cookie Policy</a></li>
    <li><a href="/help/guidelines">Browzable Guidelines</a></li>
    <li><a href="/paymentaddendum">Payment Addendum</a></li>
    <li><a href="/governmententityaddendum">Government Entity Addendum</a></li>
    <li><a href="/dmca">Copyright and DMCA Policy</a></li>
  </ul>

  <p>This Agreement constitutes the entire understanding between Browzable and you concerning the subject matter hereof and supersedes all prior agreements and understandings regarding the same.</p>

  <p>END OF DOCUMENT. Have a nice day.</p>
</div>
