/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bulma.css
 *= require font-awesome
 */

// .wistia-embed {
//   height: 100%;
//   width: 100%;
// }

.video-page {
  margin-top: -30px;
}

.about-picture {
  width: 300px;
  height: 300px;
}
 .section_info {
  display: flex;
  justify-content: space-between;
 }

 .video-time {
  float: right;
 }

.list-item {
  padding: 0px;
  
}

ul {

}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 20px;
    list-style-type: disc;
  }
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  box-shadow: none;
  pointer-events: none;
}

.video-image {
  position: relative;
}

.video-title {
  font-size: 20px;
  margin-bottom: 0px !important;
}

.vid-length {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-weight: bold;
}

.content {
  margin: 5px;
}

// .video-show-title {
//   font-size: 30px;
//   font-weight: bold;
// }

.creator-info {
  border-top: 1px solid #c0c5ce;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}


#video-creator-name {
  font-size: 20px;
  margin-left: 20px;
}

#user_name {
  margin-bottom: 5px;
  margin-top: 5px;
}

#user_card {
  border-bottom: 2px solid gray;
}

#dropdown-content {
  box-shadow: 0 0 8px #777;
  display: none;
  position: absolute;
  top: 50px;
  z-index: 9999;
  background-color: white;
}

.nav-right {
  overflow: inherit;
}

#balance {
  font-weight: bold;
  font-size: 20px;
}

h6 {
  font-weight: bold !important;
  display: inline !important;
}

.disclaimer {
  font-weight: bold !important;
}

.legal-doc em {
  font-weight: bold;

}

.nested-list {
  list-style-type: lower-alpha !important;
}

.plain-link {
  color: black;
}

.sales-message {
  font-size: 1.2rem;
}

#logo {
  padding-right: 0px;
}

#logo-text {
  padding-left: 0px;
}

#pay { 
  display: none;
}

.is-circle {
  border-radius: 50%;
  max-height: 2rem !important;
}

.card {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.card-footer {
    margin-top: auto;
}