/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bulma.css
 *= require font-awesome
 */

 

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  box-shadow: none;
  pointer-events: none;
}

.card { 
  height: 100%;
}

.card-image {
  position: relative;
}

.video-title {
  font-size: 20px;
  margin-bottom: 0px !important;
}

.vid-length {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  font-weight: bold;
}

.content {
  margin: 5px;
}

.video-show-title {
  font-size: 30px;
  font-weight: bold;
}

.creator-info {
  border-top: 1px solid #ccffcc;
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.video-column {
  max-width: 640px;
}

#video-creator-name {
  font-size: 20px;
  margin-left: 20px;
}

