<div class="columns">
  <div class="column">
    <%= link_to @course.user.full_name, admin_user_path(@course.user) %> | 
    <%= link_to @course.title, "#" %> 
  </div>
</div>

<div class="columns">
  <div class="column">
    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Title</th>
      </thead>
      <tbody>
        <% @course.sections.each do |section| %>
          <tr>
            <td><%= section.position %></td>
            <td><%= link_to section.title, admin_section_path(section) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>