<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>
<div class="notification is-info">
Test card number: 4111 1111 1111 1111 
</div>
<div class="columns">
  <div class="column is-6-desktop">
    <h3 class="title is-3">Buy Minutes</h3>
    <p class="sales-message">Browzable minutes allow you to view any video on the site. As you watch, minutes will be deducted from your balance. Your minutes last for a full year, so no need to plan ahead, just reload when you need. Every &cent;1 gets you 2 minutes.</p><br>

    <%= form_for @charge do |f| %>
    <%= hidden_field_tag :payment_method_token, id: "payment-method-token" %>
    <%= button_tag "2000 Minutes for $10", 
                    onclick: "SpreedlyExpress.openView();", 
                    class: "button is-success is-large", 
                    id: 'launch-spreedly',
                    type: "button" %>
    <% end %>
  </div>
</div>

<script>
  SpreedlyExpress.init('2VElBlix1oRuGGoaCMbUx6Uyqp1', {
    "amount": "$10",
    "company_name": "Browzable"
  });

  SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
    var tokenField = document.getElementById("payment_method_token");
    tokenField.setAttribute("value", token);
    var masterForm = document.getElementById('new_charge');
    masterForm.submit();
  });
</script>