<div class="columns">
  <div class="column">
    <div class="card">
      <p>You can buy minutes to view videos here</p>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <span>Pay</span>
  </div>
</div>
<div class="columns">
  <div class="column">
    <p>Terms and conditions apply</p>
  </div>
</div>
