<script src="https://core.spreedly.com/iframe/express-2.min.js"></script>
<div class="notification is-info">
Test card number: 4111 1111 1111 1111 
</div>
<div class="columns">
  <div class="column is-6-desktop">
    <div class="card">
      <div class="card-content">
        <p class="title is-4">Buy 2000 minutes for $10<p>
        <%= form_for @charge do |f| %>
        <%= hidden_field_tag :payment_method_token, id: "payment-method-token" %>
        <%= button_tag "Enter Payment Info", 
                        onclick: "SpreedlyExpress.openView();", 
                        class: "button is-primary", 
                        id: 'launch-spreedly',
                        type: "button" %>
      </div>

    <% end %>
    </div>
  </div>
</div>

<script>
  SpreedlyExpress.init('2VElBlix1oRuGGoaCMbUx6Uyqp1', {
    "amount": "$10",
    "company_name": "Browzable"
  });

  SpreedlyExpress.onPaymentMethod(function(token, paymentMethod) {

  // Send requisite payment method info to backend
    var tokenField = document.getElementById("payment_method_token");
    tokenField.setAttribute("value", token);
    var masterForm = document.getElementById('new_charge');
    masterForm.submit();
  });
</script>