<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Learn Web Development
          </h1>
          <h2 class="subtitle">
            Sign up to get free credits towards our premium web development courses.
          </h2>
          <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, class: "button facebook-button facebook-button-hero" %>
        </div>
      </div>
    </div>
  </div>
</section>