<div class="nav">
  <div class="nav-left">
    <%= link_to root_url, class: "nav-item" do %>
      <span>VIDEOS</span>
    <% end %>
  </div>
  <div class="nav-center">
    <%= link_to new_charge_path, class: "nav-item" do %>
      <span class="button is-primary">Buy Minutes</span>
    <% end %>
  <div class="nav-right">
    <%= link_to login_path, class: "nav-item" do %>
      <span class="button is-primary">Connect With Facebook</span>
    <% end %>
  </div>
</div>